html{
  font-size: 16px;
  clear: both;
}

header{
  background-color: black;
  padding: 0.25rem 0.8rem 0.75rem 2rem;
  color: white;
}

h1{
  padding-top: 3rem;
}

header a{
  float: right;
  color: red;
}

header p{
  color: darkgrey;
  margin-top: -0.8rem; 
}

body{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
  width: 800px;
}
  
nav{
  background-color: gray;
  padding: 0.5rem 0.25rem 0.5rem 1.75rem;
}

nav a{
  font-weight: bold;
  color: purple;
  padding-right: 3rem;
}

article{
  padding: 1.5rem 0.5rem 0.7rem 1.9rem;
}

p.story{
  word-wrap: break-word;
  width: 28rem;
}

aside{
  margin-top: -24.6rem;
  border: solid 0.1rem black;
  width: 15rem;
  height: 24rem;
  float: right;
  font-size: 0.7rem;
  padding-right: 1.2rem;
  padding-bottom: 0.5rem;
}
h3{
  text-align: center;
}

figure{
  align-content: center;
}

figure figcaption{
  text-align: center;
}


.book{
  color: red;
  float: right;
}



footer{
  background-color: black;
  padding: 2rem 0 0 0.8rem;
  color: white;
}

footer a{
  color: red;
}

p.info{
  padding-top: 0.1rem;
}

p.bottom{
  text-align: center;
}

